.verticalLinesIcon {
  width: 1277px;
  height: 1381px;
  position: absolute;
  margin: 0 !important;
  bottom: -194px;
  left: 75px;
  object-fit: contain;
  z-index: 1;
}
.noOfNode {
  margin: 0;
  align-self: stretch;
  height: 32px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
}
.noOfNodeOperatorsWrapper {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs-5) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild {
  height: 45px;
  width: 45px;
  position: relative;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  max-width: 100%;
  gap: var(--gap-xl);
}
.div,
.frameItem {
  position: absolute;
}
.div {
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.frameItem {
  top: 90px;
  left: 69px;
  filter: blur(214px);
  border-radius: 50%;
  background-color: var(--color-mediumslateblue-100);
  width: 407px;
  height: 200px;
}
.parent {
  width: 476px;
  height: 290px;
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--font-size-67xl);
  font-family: var(--font-bricolage-grotesque-24pt-condensed);
}
.frameContainer {
  height: 217px;
  flex: 0.9013;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl-5) var(--padding-9xl) var(--padding-129xl-5)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-xl-5);
  min-width: 395px;
  max-width: 100%;
  z-index: 4;
}
.wrapperGroup427319595Child {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 1px;
  top: 10px;
  transform: scale(1.156);
}
.wrapperGroup427319595 {
  position: absolute;
  top: 481.7px;
  left: 56.1px;
  width: 1246.7px;
  height: 309.9px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.decentarlizingEntertainment,
.empoweringTheDigital {
  margin: 0;
}
.empoweringTheDigitalContainer {
  margin: 0 !important;
  width: 1054px;
  position: absolute;
  top: 173px;
  left: 152px;
  font-size: inherit;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 800;
  font-family: inherit;
  background: linear-gradient(90deg, #fff, #6b61ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  z-index: 1;
}
.horizontalLineIcon {
  height: 100%;
  flex: 1;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 200px;
  width: 100%;
  transform: scale(1.616);
}
.wrapperHorizontalLine {
  height: 649px;
  flex: 1;
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.diagonalLinesChild,
.diagonalLinesItem {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
}
.diagonalLinesChild {
  top: -45.6px;
}
.diagonalLinesItem {
  bottom: 108px;
}
.diagonalLinesInner {
  top: 70.1px;
}
.diagonalLinesChild1,
.diagonalLinesChild2,
.diagonalLinesInner,
.lineIcon {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
}
.lineIcon {
  bottom: -7.7px;
}
.diagonalLinesChild1,
.diagonalLinesChild2 {
  z-index: 1;
}
.diagonalLinesChild1 {
  top: -29px;
}
.diagonalLinesChild2 {
  bottom: 91.5px;
}
.diagonalLinesChild3 {
  top: 86.6px;
  z-index: 1;
}
.diagonalLinesChild3,
.diagonalLinesChild4,
.diagonalLinesChild5,
.diagonalLinesChild6 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
}
.diagonalLinesChild4 {
  bottom: -24.2px;
  z-index: 1;
}
.diagonalLinesChild5,
.diagonalLinesChild6 {
  z-index: 2;
}
.diagonalLinesChild5 {
  top: -12.5px;
}
.diagonalLinesChild6 {
  bottom: 74.9px;
}
.diagonalLinesChild7 {
  top: 103.2px;
  z-index: 2;
}
.diagonalLinesChild10,
.diagonalLinesChild7,
.diagonalLinesChild8,
.diagonalLinesChild9 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
}
.diagonalLinesChild8 {
  bottom: -40.8px;
  z-index: 2;
}
.diagonalLinesChild10,
.diagonalLinesChild9 {
  z-index: 3;
}
.diagonalLinesChild9 {
  top: 4px;
}
.diagonalLinesChild10 {
  bottom: 58.4px;
}
.diagonalLinesChild11 {
  top: 119.7px;
  z-index: 3;
}
.diagonalLinesChild11,
.diagonalLinesChild12,
.diagonalLinesChild13 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
}
.diagonalLinesChild12 {
  bottom: -57.3px;
  z-index: 3;
}
.diagonalLinesChild13 {
  top: 20.5px;
  z-index: 4;
}
.diagonalLinesChild14 {
  bottom: 41.9px;
}
.diagonalLinesChild14,
.diagonalLinesChild15,
.diagonalLinesChild16 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
  z-index: 4;
}
.diagonalLinesChild15 {
  top: 136.2px;
}
.diagonalLinesChild16 {
  bottom: -73.8px;
}
.diagonalLinesChild17,
.diagonalLinesChild18,
.diagonalLinesChild19,
.diagonalLinesChild20 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
  z-index: 5;
}
.diagonalLinesChild17 {
  top: 37.1px;
}
.diagonalLinesChild18,
.diagonalLinesChild19,
.diagonalLinesChild20 {
  bottom: 25.3px;
}
.diagonalLinesChild19,
.diagonalLinesChild20 {
  bottom: 141px;
}
.diagonalLinesChild20 {
  bottom: -90.3px;
}
.diagonalLinesChild21,
.diagonalLinesChild22,
.diagonalLinesChild23,
.diagonalLinesChild24 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
  z-index: 6;
}
.diagonalLinesChild21 {
  top: 53.6px;
}
.diagonalLinesChild22,
.diagonalLinesChild23,
.diagonalLinesChild24 {
  bottom: 8.8px;
}
.diagonalLinesChild23,
.diagonalLinesChild24 {
  bottom: 124.5px;
}
.diagonalLinesChild24 {
  bottom: -106.9px;
}
.diagonalLines {
  height: 385px;
  width: 119px;
  margin: 0 !important;
  position: absolute;
  right: -36px;
  bottom: -80px;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.12;
  z-index: 1;
}
.diagonalLinesChild25,
.diagonalLinesChild26 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
}
.diagonalLinesChild25 {
  top: -45.6px;
}
.diagonalLinesChild26 {
  bottom: 108px;
}
.diagonalLinesChild27 {
  top: 70.1px;
}
.diagonalLinesChild27,
.diagonalLinesChild28,
.diagonalLinesChild29,
.diagonalLinesChild30 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
}
.diagonalLinesChild28 {
  bottom: -7.7px;
}
.diagonalLinesChild29,
.diagonalLinesChild30 {
  z-index: 1;
}
.diagonalLinesChild29 {
  top: -29px;
}
.diagonalLinesChild30 {
  bottom: 91.5px;
}
.diagonalLinesChild31 {
  top: 86.6px;
  z-index: 1;
}
.diagonalLinesChild31,
.diagonalLinesChild32,
.diagonalLinesChild33,
.diagonalLinesChild34 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
}
.diagonalLinesChild32 {
  bottom: -24.2px;
  z-index: 1;
}
.diagonalLinesChild33,
.diagonalLinesChild34 {
  z-index: 2;
}
.diagonalLinesChild33 {
  top: -12.5px;
}
.diagonalLinesChild34 {
  bottom: 74.9px;
}
.diagonalLinesChild35 {
  top: 103.2px;
  z-index: 2;
}
.diagonalLinesChild35,
.diagonalLinesChild36,
.diagonalLinesChild37,
.diagonalLinesChild38 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
}
.diagonalLinesChild36 {
  bottom: -40.8px;
  z-index: 2;
}
.diagonalLinesChild37,
.diagonalLinesChild38 {
  z-index: 3;
}
.diagonalLinesChild37 {
  top: 4px;
}
.diagonalLinesChild38 {
  bottom: 58.4px;
}
.diagonalLinesChild39 {
  top: 119.7px;
  z-index: 3;
}
.diagonalLinesChild39,
.diagonalLinesChild40,
.diagonalLinesChild41 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
}
.diagonalLinesChild40 {
  bottom: -57.3px;
  z-index: 3;
}
.diagonalLinesChild41 {
  top: 20.5px;
  z-index: 4;
}
.diagonalLinesChild42 {
  bottom: 41.9px;
}
.diagonalLinesChild42,
.diagonalLinesChild43,
.diagonalLinesChild44 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
  z-index: 4;
}
.diagonalLinesChild43 {
  top: 136.2px;
}
.diagonalLinesChild44 {
  bottom: -73.8px;
}
.diagonalLinesChild45,
.diagonalLinesChild46,
.diagonalLinesChild47,
.diagonalLinesChild48 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
  z-index: 5;
}
.diagonalLinesChild45 {
  top: 37.1px;
}
.diagonalLinesChild46,
.diagonalLinesChild47,
.diagonalLinesChild48 {
  bottom: 25.3px;
}
.diagonalLinesChild47,
.diagonalLinesChild48 {
  bottom: 141px;
}
.diagonalLinesChild48 {
  bottom: -90.3px;
}
.diagonalLinesChild49,
.diagonalLinesChild50,
.diagonalLinesChild51,
.diagonalLinesChild52 {
  width: 195.5px;
  height: 91.2px;
  position: absolute;
  margin: 0 !important;
  left: -60.1px;
  object-fit: contain;
  z-index: 6;
}
.diagonalLinesChild49 {
  top: 53.6px;
}
.diagonalLinesChild50,
.diagonalLinesChild51,
.diagonalLinesChild52 {
  bottom: 8.8px;
}
.diagonalLinesChild51,
.diagonalLinesChild52 {
  bottom: 124.5px;
}
.diagonalLinesChild52 {
  bottom: -106.9px;
}
.diagonalLines1,
.empoweringTheDigitalEraDeParent {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.diagonalLines1 {
  height: 385px;
  width: 119px;
  margin: 0 !important;
  bottom: -80px;
  left: -37px;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  opacity: 0.12;
  z-index: 2;
}
.empoweringTheDigitalEraDeParent {
  top: 0;
  left: 0;
  width: 1440px;
  height: 649px;
  flex-direction: row;
}
.subtractIcon,
.wrapperSubtract {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
}
.subtractIcon {
  object-fit: contain;
  transform: scale(2.62);
}
.wrapperSubtract {
  display: flex;
  align-items: center;
  justify-content: center;
}
.joinTheWorlds {
  position: absolute;
  top: 117px;
  left: 131px;
  letter-spacing: 0.02em;
  line-height: 19.2px;
  font-weight: 500;
  display: inline-block;
  width: 644px;
  z-index: 1;
}
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-mediumslateblue-200);
  width: 100%;
  height: 100%;
  display: none;
}
.vuesaxboldarrowRightIcon {
  position: absolute;
  top: 16px;
  left: 142px;
  width: 24px;
  height: 24px;
  z-index: 1;
}
.comingSoon {
  position: absolute;
  top: 19px;
  left: 33px;
  letter-spacing: 0.15px;
  font-weight: 600;
  display: inline-block;
  min-width: 106px;
  z-index: 1;
  cursor:pointer
}
.rectangleParent {
  top: 198px;
  left: 353px;
  border-radius: var(--br-81xl);
  background-color: var(--color-mediumslateblue-200);
  width: 200px;
  height: 56px;
  text-align: left;
  color: var(--color-lavender);
  font-family: var(--font-inter);
}
.blobIcon,
.rectangleParent,
.wrapperBlob {
  position: absolute;
  z-index: 2;
}
.blobIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 61px;
  top: 312px;
  transform: scale(23.268);
}
.wrapperBlob {
  top: 507px;
  left: 9px;
  width: 767px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperSubtractParent {
  position: absolute;
  top: 266px;
  left: 226px;
  width: 906px;
  height: 906px;
  font-size: var(--font-size-base);
  font-family: var(--font-nohemi);
}
.wrapperGroup427319595Parent {
  height: 1172px;
  width: 1399px;
  position: absolute;
  margin: 0 !important;
  top: -892px;
  left: -699px;
}
.last30Days {
  font-size: var(--font-size-base);
  letter-spacing: 0.02em;
}
.dataTransferredInContainer {
  align-self: stretch;
  height: 32px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.dataTransferredInTbLast3Wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs-5) 0 0;
  box-sizing: border-box;
  min-width: 299px;
  max-width: 100%;
}
.dataTransferredContentChild {
  height: 45px;
  width: 45px;
  position: relative;
}
.dataTransferredContent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24xl);
  max-width: 100%;
}
.ellipseDiv {
  height: 200px;
  width: 407px;
  position: absolute;
  margin: 0 !important;
  right: -276px;
  bottom: -187px;
  filter: blur(214px);
  border-radius: 50%;
  background-color: var(--color-mediumslateblue-100);
}
.div1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  z-index: 1;
}
.ellipseParent {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  font-size: var(--font-size-67xl);
  font-family: var(--font-bricolage-grotesque-24pt-condensed);
}
.dataTransferredContentParent,
.frameGroup,
.frameParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.dataTransferredContentParent {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-4xl-5) var(--padding-7xl) var(--padding-6xl)
    var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-xl-5);
  z-index: 4;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-200);
  font-family: var(--font-nohemi);
}
.frameGroup,
.frameParent1 {
  flex-direction: row;
}
.frameParent1 {
  flex: 1;
  position: relative;
  min-width: 395px;
  text-align: center;
  font-size: var(--font-size-37xl);
  color: var(--color-lightgray);
  font-family: var(--font-bricolage-grotesque-24pt-condensed);
}
.frameGroup {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.vectorIcon {
  width: 1028px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  z-index: 1;
}
.vectorWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-7xl) 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent,
.gridLines,
.gridLinesWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1246px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-139xl);
  flex-shrink: 0;
}
.gridLines,
.gridLinesWrapper {
  box-sizing: border-box;
}
.gridLines {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-873xl) var(--padding-67xl) 0;
  position: relative;
  z-index: 3;
}
.gridLinesWrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-5xs) 0 var(--padding-9xs);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-200);
  font-family: var(--font-nohemi);
}
@media screen and (max-width: 1200px) {
  .frameContainer,
  .frameParent1 {
    flex: 1;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
  .frameParent {
    gap: var(--gap-60xl);
  }
  .gridLines {
    padding-left: var(--padding-24xl);
    padding-top: var(--padding-561xl);
    padding-right: var(--padding-24xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .noOfNode {
    font-size: var(--font-size-7xl);
  }
  .div {
    font-size: var(--font-size-24xl);
  }
  .empoweringTheDigitalContainer {
    font-size: var(--font-size-26xl);
    line-height: 67px;
  }
  .div1 {
    font-size: var(--font-size-24xl);
  }
}
@media screen and (max-width: 750px) {
  .frameDiv {
    flex-wrap: wrap;
  }
  .frameContainer {
    height: auto;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-78xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .dataTransferredContent {
    flex-wrap: wrap;
    gap: var(--gap-2xl);
  }
  .frameParent1 {
    min-width: 100%;
  }
  .frameGroup {
    gap: var(--gap-base);
  }
  .frameParent {
    gap: var(--gap-20xl);
  }
  .gridLines {
    padding-left: var(--padding-2xl);
    padding-top: var(--padding-358xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .noOfNode {
    font-size: var(--font-size-lgi);
  }
  .div {
    font-size: var(--font-size-7xl);
  }
  .empoweringTheDigitalContainer {
    font-size: var(--font-size-15xl);
    line-height: 50px;
  }
  .div1 {
    font-size: var(--font-size-7xl);
  }
  .frameParent {
    gap: var(--gap-xl);
  }
}
