.fancloudCdnNetwork,
.fancloudPioneersA {
  position: relative;
  letter-spacing: 0.02em;
  z-index: 1;
}
.fancloudCdnNetwork {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  line-height: 38.4px;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(90deg, #fff, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fancloudPioneersA {
  height: 96px;
  flex: 1;
  line-height: 19.2px;
  display: inline-block;
  max-width: 100%;
}
.fancloudPioneersANewEraOfWrapper {
  width: 863px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild,
.frameItem {
  position: absolute;
  top: 195.3px;
  left: 785px;
  border-radius: 50%;
  border: 0 dashed var(--color-aquamarine);
  box-sizing: border-box;
  width: 103px;
  height: 103px;
  z-index: 1;
}
.frameItem {
  top: 455.62px;
  left: 15px;
  height: 68px;
  transform: rotate(-15.4deg);
  transform-origin: 0 0;
}
.globeIcon,
.wrapperEllipse2714Child {
  position: absolute;
  top: 94.3px;
  left: 160px;
  width: 599.4px;
  height: 455.9px;
  object-fit: contain;
  z-index: 3;
}
.wrapperEllipse2714Child {
  width: 100%;
  height: 100%;
  z-index: 4;
  left: 0;
  top: 4px;
  transform: scale(1.5);
}
.wrapperEllipse2714 {
  position: absolute;
  top: 237.3px;
  left: 753px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperEllipse2715Child {
  width: 100%;
  height: 100%;
  z-index: 3;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.5);
}
.wrapperEllipse2715 {
  position: absolute;
  top: 423.3px;
  left: 85px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperEllipse2717Child {
  width: 100%;
  height: 100%;
  z-index: 3;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.727);
}
.wrapperEllipse2717 {
  position: absolute;
  top: 12.3px;
  left: 481px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperEllipse2721Child {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(2);
}
.wrapperEllipse2721 {
  position: absolute;
  top: 179.3px;
  left: 828px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperEllipse2722Child {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(2);
}
.wrapperEllipse2722 {
  position: absolute;
  top: 264.3px;
  left: 860px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperEllipse2724Child {
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.727);
}
.wrapperEllipse2724 {
  position: absolute;
  top: 465.3px;
  left: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1Icon {
  position: absolute;
  top: 3.3px;
  left: 224px;
  width: 65.6px;
  height: 65.6px;
  object-fit: contain;
  z-index: 3;
}
.subtractIcon,
.wrapperEllipse2712Child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.wrapperEllipse2712Child {
  z-index: 4;
  object-fit: contain;
  top: 4px;
  transform: scale(1.5);
}
.wrapperEllipse2712 {
  position: absolute;
  top: 130px;
  left: 17px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperEllipse2713Child {
  width: 100%;
  height: 100%;
  z-index: 4;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.5);
}
.wrapperEllipse2713 {
  position: absolute;
  top: 38px;
  left: 519px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperEllipse2716Child {
  width: 100%;
  height: 100%;
  z-index: 4;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.5);
}
.wrapperEllipse2716 {
  position: absolute;
  top: 2px;
  left: 189px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperEllipse2718Child {
  width: 100%;
  height: 100%;
  z-index: 4;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.727);
}
.wrapperEllipse2718 {
  position: absolute;
  top: 58px;
  left: 100px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1Icon1 {
  position: absolute;
  top: 80px;
  left: 624px;
  width: 45px;
  height: 45px;
  object-fit: contain;
  z-index: 4;
}
.ellipseDiv,
.frameInner {
  position: absolute;
  border-radius: 50%;
}
.frameInner {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  border: 0 solid var(--color-aquamarine);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.ellipseDiv {
  top: 3px;
  left: 3px;
  background-color: var(--color-aquamarine);
  width: 10px;
  height: 10px;
  z-index: 4;
}
.ellipseGroup,
.subtractParent {
  position: absolute;
  top: 277px;
  left: -1px;
  width: 16px;
  height: 16px;
}
.subtractParent {
  top: 32.3px;
  left: 113px;
  width: 695px;
  height: 391px;
}
.frameChild1,
.groupIcon {
  position: absolute;
  top: 436.3px;
  left: 50px;
  width: 14px;
  height: 14px;
  z-index: 2;
}
.frameChild1 {
  top: 504.3px;
  left: 49px;
  width: 10px;
  height: 10px;
}
.frameChild2,
.frameChild3 {
  position: absolute;
  border-radius: 50%;
}
.frameChild2 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  border: 0 solid var(--color-yellowgreen);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.frameChild3 {
  top: 3px;
  left: 3px;
  background-color: var(--color-yellowgreen);
  width: 10px;
  height: 10px;
  z-index: 4;
}
.ellipseContainer {
  position: absolute;
  top: 28.3px;
  left: 405px;
  width: 16px;
  height: 16px;
}
.frameChild4,
.frameChild5 {
  position: absolute;
  border-radius: 50%;
}
.frameChild4 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  border: 0 solid var(--color-violet);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.frameChild5 {
  top: 3px;
  left: 3px;
  background-color: var(--color-violet);
  width: 10px;
  height: 10px;
  z-index: 4;
}
.frameDiv,
.heartIcon {
  position: absolute;
  top: 336.3px;
  left: 797px;
  width: 16px;
  height: 16px;
}
.heartIcon {
  top: 0;
  left: 612.6px;
  width: 43.8px;
  height: 40.6px;
  object-fit: contain;
  mix-blend-mode: normal;
  z-index: 3;
}
.ellipseParent {
  align-self: stretch;
  height: 550.2px;
  position: relative;
}
.frameParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xl-7);
  max-width: 100%;
}
.frameContainer {
  width: 914px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.fancloudCdnNetworkRevolutioParent,
.frameContainer,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.fancloudCdnNetworkRevolutioParent {
  width: 942px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.frameWrapper {
  width: 1240px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-lightgray);
  font-family: var(--font-nohemi);
}
@media screen and (max-width: 1050px) {
  .fancloudCdnNetwork {
    font-size: var(--font-size-7xl);
    line-height: 31px;
  }
}
@media screen and (max-width: 750px) {
  .fancloudCdnNetworkRevolutioParent {
    gap: var(--gap-2xl);
  }
}
@media screen and (max-width: 450px) {
  .fancloudCdnNetwork {
    font-size: var(--font-size-lgi);
    line-height: 23px;
  }
}
